<p>Welcome to SocialDeck <%= @user.name %>!</p>

<p>Please confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', "https://socialdeck-3c370.firebaseapp.com/confirmation/#{@token}"  %></p>