<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome to SocialDeck <%= @user.username %>!</p>

    <p>Please confirm your account email through the link below:</p>

    <p><%= link_to 'Confirm my account', 'socialdeck.xyz/confirmation/token' %></p>

    <%= yield %>
  </body>
</html>