<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @user.username %>!</p>

    <p>Please click the following link to reset your password:</p>

    <p><%= link_to 'Reset Password', 'socialdeck.xyz/reset/password' %></p>

    <p>If you did not make this request, please disregard this email. Your password <strong><em>WILL NOT</em></strong> be changed unless you click on the password reset link and enter a new password.</p>

    <%= yield %>
  </body>
</html>