<p>Hello <%= @user.name %>!</p>

<p>Please click the following link to reset your password.</p>

<p><%= link_to 'Reset Password', "https://socialdeck-3c370.firebaseapp.com/passwordreset/#{@token}" %></p>

    <p><em>Note: This link will expire in 3 hours!</em></p>

<p>If you did not make this request, please disregard this email. Your password <strong><em>WILL NOT</em></strong> be changed unless you click on the password reset link and enter a new password.</p>
